<%= stylesheet_link_tag "general" %>
<%= render TaskComponent.new(nav: isLoggedIn) %>

<div class='center-content'>
<%begin %>
<%  @posts.each do |post|  %>
<p>test<%= post.content %></p>
<% end %>

<% rescue => e%>
    <p>Failed </p>
    
<% end %>
</div>